@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    We are going to have an exciting party
</div>

<a asp-controller="Home" asp-action="RsvpForm" class="btn btn-outline-primary">Rsvp Now</a>