@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-4">
    <h5>We are going to have an exciting party</h5>
    <h6>And YOU are invited!</h6>
</div>

<a asp-controller="Home" asp-action="RsvpForm" class="btn btn-outline-primary">Rsvp Now</a>