@model PartyInvites.Models.GuestResponse

@{
    ViewData["Title"] = "RSVP";
}

<div class="container p-4 my-5">
    <form asp-controller="Home" asp-action="RsvpForm" method="post" class="d-flex flex-column align-self-center w-50 mx-auto">
        <div class="form-control my-2 d-flex justify-content-between">
            <label asp-for="Name">Your Name:</label>
            <input asp-for="Name"/>
        </div>
        <div class="form-control my-2 d-flex justify-content-between">
            <label asp-for="Email">Your Email:</label>
            <input asp-for="Email"/>
        </div>
        <div class="form-control my-2 d-flex justify-content-between">
            <label asp-for="Phone">Your Phone No:</label>
            <input asp-for="Phone"/>
        </div>
        <div class="form-control my-2 d-flex justify-content-between">
            <label asp-for="WillAttend">Will Your attend?</label>
            <select asp-for="WillAttend">
                <option value="">Choose an option</option>
                <option value="true">Yes, I will be there.</option>
                <option value="false">No, I cannot come.</option>
            </select>
        </div>

        <div class="my-4">
            <button type="submit" class="btn btn-primary">Submit RSVP</button>
        </div>
    </form>
</div>
    